.footer {
    background-color: #1e1e1e;
    padding: 300px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 5rem;
    left: 0;
    bottom: 0;
    background-color: #ececec;
    margin-top: auto;
    margin-bottom: auto;
  }

  .copyright {
    font-size: 1rem;
    color: rgb(15, 14, 14);
  }

  .text-container {
    margin-top: -300px;
    text-align: left; /* Center text horizontally */
  }

  .deCube {
    font-size: 12rem;
    font-weight: bold;
    color: #404040;
  }

  .kubo {
    font-size: 1.9rem;
    font-weight: lighter;
    color: rgb(15, 14, 14);
    margin-top: -50px; /* Keeps spacing */
    width: 100%; /* Ensures it spans the full width */
    text-align: justify; /* Distributes text evenly across the screen */
  }

  .footer-link {
    font-size: 1.5rem;
    margin-left: 60px; /* Keeps spacing */
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
  
  .footer-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
 